<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83b5a8">  <td>20/05/26 08:36:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestRunner.setUpClass()[pri:0, instance:com.hra.testrunner.TestRunner@4e1d422d]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>20/05/26 08:36:54</td>   <td>367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.hra.testrunner.TestRunner@4e1d422d]">feature</td> 
  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>20/05/26 08:40:36</td>   <td>222406</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestRunner.testDownClass()[pri:0, instance:com.hra.testrunner.TestRunner@4e1d422d]">&lt;&lt;testDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
</table>
